* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #d9dad7;
}

ul {
    list-style-position: inside;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin: 1em 0;
}